.carousel {
  margin-bottom: 1rem;
  &--image {
    height: 560px;
    object-fit: cover;
    filter: brightness(30%);
  }

  &-caption {
    bottom: 3rem;
    z-index: 10;
  }

  &-item {
    height: 32rem;
  }
}
