.contents {
  & .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &-image {
    height: 200px;
    width: 200px;
    text-align: center !important ;
  }

  p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}

.featurette {
  &-divider {
    margin: 5rem 0;
  }

  &-heading {
    letter-spacing: -0.05rem;
  }
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
