.footer {
  margin-bottom: -30px;
  background: rgb(108, 117, 125);
  background: linear-gradient(
    180deg,
    rgba(108, 117, 125, 1) 0%,
    rgba(33, 37, 41, 1) 100%
  );
}

.social-icons {
  font-size: 2em;
  margin-right: 0.5rem;
}

.back-to-top {
  width: 100%;
  padding: 10px;
  margin-bottom: -40px;

  &-btn {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgb(13, 110, 253);
    background: linear-gradient(
      180deg,
      rgba(13, 110, 253, 1) 0%,
      rgba(13, 202, 240, 1) 100%
    );
    box-shadow: 0px 0px 20px 0px rgba(212, 212, 212, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
