.footer {
  margin-bottom: -30px;
  background: rgb(108, 117, 125);
  background: linear-gradient(
    180deg,
    rgba(108, 117, 125, 1) 0%,
    rgba(33, 37, 41, 1) 100%
  );
}

.social-icons {
  font-size: 2em;
  margin-right: 0.5rem;
}
