.accordion {
  &--bg {
    padding: 0 !important;
  }
}

.sortBy {
  margin-top: 6.5px;
}

.thumbnail {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.modal {
  &--image {
    width: 100%;
    object-fit: cover;
  }
}
