.accordion {
  &--bg {
    padding: 0 !important;
  }
}

.sortBy {
  margin-top: 6.5px;
}

.thumbnail {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.modal {
  &--image {
    width: 100%;
    object-fit: cover;
  }
}

.accordion-button {
  background-color: #287af5 !important;
  color: #fff !important;

  &:not(.collapsed) {
    background-color: #287af5 !important;
    color: #fff !important;
  }
}
