.hero {
  width: 100%;
  height: 100vh;
  margin-left: -15px;
  top: 45px;
  position: relative;

  &--heading {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
  }

  &--heading:hover {
    -webkit-text-stroke: 1.5px #fff;
    color: transparent;
  }

  &--btn {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.5s;
  }

  &--btn:hover {
    background-color: #fff;
    color: #000;
  }

  &--video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(30%);
  }

  &--contents {
    position: absolute;
    padding: 0 5rem;
    top: 35%;
    left: 0;
    text-align: center;
    width: 100%;
  }

  @media only screen and (max-width: 425px) {
    &--contents {
      position: absolute;
      padding: 0 5rem;
      top: 20%;
      left: 0;
      text-align: center;
      width: 100%;
    }
  }
}
